<div class="container">
  <form [formGroup]='gameFormGroup'>

    <div>
      <mat-form-field class="custom-field">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" name="title" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="custom-field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="custom-field">
        <mat-label> Type </mat-label>
        <mat-select formControlName="type" placeholder="Select">
          <mat-option value="Action">Action</mat-option>
          <mat-option value="Adventure">Adventure</mat-option>
          <mat-option value="RPG">RPG</mat-option>
          <mat-option value="Strategy">Strategy</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="custom-field">
        <mat-label>Image Url</mat-label>
        <input matInput formControlName="imageUrl" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="custom-field">
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="Price" name="Price" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Release Date" formControlName='releaseDate'>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect type="submit" (click)="onSubmit()">
      Submit </button>
  </form>

</div>