<form [formGroup]='gameFormGroup'>
  <div>
    <label> Title </label>
    <input formControlName="title"/>
  </div>

  <div>
    <label> Description </label>
    <textarea formControlName="description"></textarea>
  </div>

  <div>
    <label> Type </label>
    <select formControlName="type">
      <option value="Action">Action</option>
      <option value="Adventure">Adventure</option>
      <option value="RPG">RPG</option>
      <option value="Strategy">Strategy</option>
    </select>
  </div>

  <div>
    <label> Image Url </label>
    <input formControlName="imageUrl">
  </div>

  <div>
    <label> Release date </label>
    <input type="date" formControlName="releaseDate">
  </div>

  <button type="submit" (click)="onSubmit()"> Submit </button>
</form>
