<div class="row">
  <div class="col-md-4">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <img class="card-img-top"
          src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(2).jpg" alt="">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <mdb-card-body cascade="true" class="text-center">
        <!--Category & Title-->
        <h5>Shoes</h5>
        <mdb-card-title>
          <h4><strong><a href="">Product name</a></strong></h4>
        </mdb-card-title>

        <!--Description-->
        <mdb-card-text>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
          voluptates.</mdb-card-text>

        <!--Card footer-->
        <mdb-card-footer>
          <div class="clearfix"><span class="float-left">49$</span>
            <span class="float-right">
              <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fas fa-share-alt mr-3"></i></a>
              <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist"><i
                  class="fas fa-heart"></i></a>
            </span></div>
        </mdb-card-footer>

      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>