<div class="container">
    <div class="row">

        <mat-card style="width: 70%; margin: auto;">
            <mat-card-title> {{game.title}} </mat-card-title>
            <mat-card-subtitle> {{game.type}} - {{game.releaseDate | date:'dd/MM/yyyy'}} </mat-card-subtitle>
            <img mat-card-image src={{game.imageUrl}}
                style="display: block; margin: auto; height: 400px; width: 250px" />
            <mat-card-content style="font-size: 130%">
                <br>
                {{ game.description }}
                <br>
                {{ game.price}}
            </mat-card-content>
            <mat-card-actions>
                <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect
                    (click)="onEdit()">Edit</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>