

<mat-card style = "width: 70%; margin: auto;">
    <mat-card-title> {{game.title}} </mat-card-title>
    <mat-card-subtitle> {{game.type}} - {{game.releaseDate | date:'dd/MM/yyyy'}} </mat-card-subtitle>
    <img mat-card-image src={{game.imageUrl}} style="display: block; margin: auto; height: 400px; width: 250px"/>
    <mat-card-content> 
        <br>
        {{ game.description }} 
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
    </mat-card-actions>
</mat-card>



